{% extends 'blog/base.html' %}

{% block content %}
    <h1>New post</h1>
    <!-- form이 post방식이기 때문에 {% csrf_token %} 사용 -->
    <form method="POST" class="post-form">{% csrf_token %}
    <!-- <form>은 action속성이 목적지를 나타냄, 그러나 현재는 view.py 에서 form이라는 이름으로 목적지, 전달자료양식관련 정보를 모두 제공하고 있음.
    (class META 내부의 model 변수와 fields 변수를 통해서) 따라서 아래와 같이 대괄호 안의  ' 전달받은 양식.as_p'  라고 작성하면 됨 -->
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}